<div class="labelSet alternatingColors">
  <input type="text" class="medium" id="gameClassificationInputClassification" placeholder="Classification (e.g. Bantam)" />
  <input type="text" class="small" id="gameClassificationInputLevel" placeholder="(e.g. A)" />
  <input type="text" class="large" id="gameClassificationInputRegex" placeholder="Regular Expression" />
  <i class="fa fa-times fa-fw buttonLink" id="removeButton"></i>
  <i class="fa fa-check fa-fw buttonLink" id="modifyButton"></i>
</div>
