@import 'colors';

header {
  position: fixed;
  background-color: $columbia-blue;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.21s;
  transition-property: all;
  transition-timing-function: ease-in-out;

  box-shadow: none;
  font-family: "Roboto", "Droid-Sans", arial, sans-serif;

  #hamburger {
    position: static;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 25px;
    vertical-align: middle;
    background-size: 20px 2px;
    background: no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4KPCFET0NUWVBFIHN2ZyAgUFVCTElDICctLy9XM0MvL0RURCBTVkcgMS4xLy9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQnPgo8c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiB5PSIwcHgiIHg9IjBweCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIj4KICA8cGF0aCBkPSJtMSAxNmgxOHYtMmgtMTh2MnptMC01aDE4di0yaC0xOHYyem0wLTd2MmgxOHYtMmgtMTh6Ii8+Cjwvc3ZnPgo=');
    cursor: pointer;
  }

  h2 {
    position: static;
    display: inline-block;
    margin: 10px auto;
    vertical-align: middle;
  }
}
