#messageContainer {
  border-radius: 1em;
  border: 1px solid #669966;
  background-color: #CCFF99;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em 1em 1em 1em;
  transition: transform, 800ms;
  transform: translateY(-2em);
  position: absolute;
  left: calc(50% - 25em);
}

#messageContainer.hidden {
    transform: translateY(calc(-100% - 2em));
}

.instructions {
    position: absolute;
    right: 1em;
    bottom: 1em;
    color: #888888;
    font-size: 8pt;
}

.aliasUI {
  min-height: 2em;
  margin-top: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.inputMessageAreaFloatContainer {
  display: block;
  width: 8em;
  height: 1em;
  float: right;
  margin-left: 0.5em;
}

.inputMessageArea {
  display: hidden;
}

#prefArea {
  display: block;
  border: 1px solid #330099;
  border-radius: 8px;
  background-color: #99ccff;
  padding: 1em 1em 1em 1em;
  width: 45%;
  float: left;
}

#schedule {
  width: 90%;
  height: 30em;
}

.prefGroup {
    float: left;
}

.inputSet {
  position: relative;
  width: 100%;
  margin-top: 1em;
}

.labelSet label {
  float: left;
  position: relative;
  margin-right: 2em;
}

.labelSet input {
  float: right;
  position: relative;
}

input.locationTextInput {
  width: 15em;
}

.labelSet button {
  float: right;
  position: relative;
  margin-left: 1em;
}

.labelSet {
  clear: both;
}

#mainContent {
    width: 50%;
    float: left;
}

body {
  overflow-y: hidden;
}

#logoutLink {
  text-align: right;
}
