#messageContainer {
  border-radius: 1em;
  border: 1px solid #669966;
  background-color: #CCFF99;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em 1em 1em 1em;
  transition: transform, 800ms;
  transform: translateY(-2em);
  position: absolute;
  left: calc(50% - 25em);
}

#messageContainer.hidden {
    transform: translateY(calc(-100% - 2em));
}

.instructions {
    position: absolute;
    right: 1em;
    bottom: 1em;
    color: #888888;
    font-size: 8pt;
}

.aliasUI {
  min-height: 2em;
  margin-top: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.inputMessageAreaFloatContainer {
  display: block;
  width: 8em;
  height: 1em;
  float: right;
  margin-left: 0.5em;
}

.inputMessageArea {
  display: hidden;
}

#prefArea {
  display: block;
  border: 1px solid #330099;
  border-radius: 8px;
  background-color: #99ccff;
  padding: 1em 1em 1em 1em;
  width: 45%;
  float: left;
}

#schedule {
  width: 90%;
  height: 30em;
}

.prefGroup {
    float: left;
}

.inputSet {
  position: relative;
  width: 100%;
  margin-top: 1em;
}

.labelSet label {
  float: left;
  position: relative;
  margin-right: 2em;
}

.labelSet input {
  float: right;
  position: relative;
}

input.locationTextInput {
  width: 15em;
}

.labelSet button {
  float: right;
  position: relative;
  margin-left: 1em;
}

.labelSet {
  clear: both;
}

#mainContent {
  margin-top: 75px;
  width: 50%;
}

body {
  overflow-y: hidden;
  font-family: "Roboto", "Droid-Sans", arial, sans-serif;
}

#logoutLink {
  text-align: right;
}

#app-bar {
  position: fixed;
  background-color: #99ccff;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.21s;
  transition-property: all;
  transition-timing-function: ease-in-out;

  /* Consider making this transition when there isn't anything beneath it */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#hamburger {
  position: static;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px 25px;
  vertical-align: middle;
  background-size: 20px 2px;
  background: no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4KPCFET0NUWVBFIHN2ZyAgUFVCTElDICctLy9XM0MvL0RURCBTVkcgMS4xLy9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQnPgo8c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiB5PSIwcHgiIHg9IjBweCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIj4KICA8cGF0aCBkPSJtMSAxNmgxOHYtMmgtMTh2MnptMC01aDE4di0yaC0xOHYyem0wLTd2MmgxOHYtMmgtMTh6Ii8+Cjwvc3ZnPgo=');
  cursor: pointer;
}

#app-bar h2 {
  position: static;
  display: inline-block;
  margin: 10px auto;
  vertical-align: middle;
}
