<section id="gameAgeProfileContent" data-profilename="">
  <h3>Game Age Settings</h3>
</section>
<section id="addNewGameAgeSettingContent">
  <h3>Add New Game Age Setting</h3>
  <div class="labelSet">
    <input type="text" class="large" id="gameAgeInputRegex" placeholder="Regular Expression" />
    <input type="text" class="medium" id="gameAgeInputAge" placeholder="Age (e.g. Bantam, Squirt)" />
    <input type="text" class="small" id="gameAgeInputLevel" placeholder="" />
    <a href="#" class="buttonLink" id="addNewGameAgeLevel"><i class="fa fa-check fa-fw"></i></a>
  </div>
</section>
