<section id="gameAgeProfileHeaderInfo">
  <div class="fieldHeaders">
    <div class="medium">Age</div>
    <div class="small">Level</div>
    <div class="large">Regular Expression</div>
  </div>
</section>
<section id="gameAgeProfileContent" data-profilename="">
</section>
<section id="addNewGameAgeSettingContent" class="with-margin-top">
  <h3>Add New Game Age Setting</h3>
  <div class="labelSet">
    <input type="text" class="medium" id="gameAgeInputAge" placeholder="Age (e.g. Bantam, Squirt)" />
    <input type="text" class="small" id="gameAgeInputLevel" placeholder="Level (e.g. A)" />
    <input type="text" class="large" id="gameAgeInputRegex" placeholder="Regular Expression" />
    <i class="fa fa-check fa-fw buttonLink" id="addNewGameAgeLevel"></i>
  </div>
</section>
