<section id="LeagueProfileHeaderInfo">
  <div class="fieldHeaders">
    <div class="medium">Classification</div>
    <div class="small">Level</div>
    <div class="large">Regular Expression</div>
  </div>
</section>
<section id="leagueProfileContent" data-profilename="">
</section>
<section id="addNewGameClassificationSettingContent" class="with-margin-top">
  <h3>Add New Game Classification Setting</h3>
  <div class="labelSet">
    <input type="text" class="medium" id="gameClassificationInputClassification" placeholder="Classification (e.g. Bantam)" />
    <input type="text" class="small" id="gameClassificationInputLevel" placeholder="Level (e.g. A)" />
    <input type="text" class="large" id="gameClassificationInputRegex" placeholder="Regular Expression" />
    <i class="fa fa-check fa-fw buttonLink" id="addNewGameClassificationLevel"></i>
  </div>
</section>
