<section id="settingsContent">
  <h3>Time Preferences</h3>
  <div class="labelSet">
    <label for="timePref-priorToStart">Minutes before start</label>
    <input type="number" id="timePref-priorToStart" value="30" />
    <button id="setPriorToStart">Set</button>
  </div>
  <div class="labelSet">
    <label for="timePref-gameLength">Length of game (minutes)</label>
    <input type="number" id="timePref-gameLength" value="60" />
    <button id="setGameLength">Set</button>
  </div>
  <div class="labelSet">
    <label for="timePref-consecutiveGames">Consecutive Game Threshold (Hours)</label>
    <input type="number" id="timePref-consecutiveGames" value="4" />
    <button id="setConsecutiveGames">Set</button>
  </div>
  <br>
  <h3>ArbiterSports Connection</h3>
  <div class="labelSet">
    <button id="setupArbiterConnection">Setup/Test Connection</button>
    <div id="connectionIndicator">
      <i class="fa fa-refresh fa-spin"></i>
      <span class="sr-only">Initializing connection in separate window...</span>
    </div>
  </div>
</section>
