nav {
  background-color: #FFF;
  bottom: 0px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  left: 0px;
  overflow-y: auto;
  position: fixed;
  transform: translate(-256px, 0px);
  transition: visibility 0s linear 0.218s, transform 0.218s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  visibility: visible;
  width: 250px;
  height: 800px;
  z-index: 701;
  top: 0px; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul li {
      display: block;
      height: 20px;
      list-style: none;
      background-position: left 30px center;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      border: 1px solid transparent;
      color: rgba(0, 0, 0, 0.5);
      font-size: 15px;
      font-weight: 500;
      opacity: 0.6;
      padding: 17px 0px 17px 25px;
      opacity: 1;
      cursor: pointer;
      background-color: transparent;
      vertical-align: middle; }
    nav ul li:hover {
      background-color: rgba(150, 203, 255, 0.2);
      opacity: 0.8; }
    nav ul li.nav-drawer-header:hover {
      background-color: rgba(0, 0, 0, 0.12);
      opacity: 1; }
  nav hr {
    margin-top: 2em;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.nav-drawer-header {
  font-size: 21px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.12); }

.nav-drawer-image {
  display: inline-block;
  background-size: contain;
  margin: auto 25px;
  width: 25px;
  height: 25px; }

#back {
  background: no-repeat url("../images/back.svg"); }

#aliases {
  background: no-repeat url("../images/routes.svg"); }

#locations {
  background: no-repeat url("../images/castle.svg"); }

#settings {
  background: no-repeat url("../images/settings.svg"); }

#arbitrator {
  background: no-repeat url("../images/arbitrator.svg"); }
