$columbia-blue: rgb(152, 204, 255);
$hawkes-blue: rgb(211, 234, 255);
$aluminum: rgb(154, 154, 154);
$white-lilac: rgb(231, 231, 233);
$storm-dust: rgb(100, 100, 100);
$perano: rgb(180, 203, 255);
$kashmir-blue: rgb(83, 115, 154);
