header {
  position: fixed;
  background-color: #98ccff;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.21s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  z-index: 807;
  box-shadow: none;
  font-family: "Roboto", "Droid-Sans", arial, sans-serif; }
  header #hamburger {
    position: static;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 25px;
    vertical-align: middle;
    background-size: 20px 2px;
    background: no-repeat url("../images/hamburger.svg");
    cursor: pointer; }
  header h2 {
    position: static;
    display: inline-block;
    margin: 10px auto;
    vertical-align: middle; }
  header h2#versionNumber {
    position: absolute;
    right: 1em; }

section {
  margin-top: 75px; }
