<section id="aliasesContent">
  <div class="topInputSet">
    <div class="aliasAddInput" id="aliasAddAlias" contenteditable="true" tabindex="0" spellcheck="false" data-placeholder="Alias"></div>
    <div class="aliasAddInput" id="aliasAddName" contenteditable="true" tabindex="0" spellcheck="false" data-placeholder="Original Name"></div>
    <div class="aliasAddInput" id="aliasAddButton"><i class="fa fa-check"></i></div>
  </div>

  <div class="prefGroup" id="aliasPrefs">
    <div id="aliasInputs" class="inputSet">
    </div>
  </div>
</section>
